<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
	<link rel="stylesheet" th:href="@{/css/attendance/attendance.css}">
	<script th:src="@{/js/attendance/attendance.js}" defer></script>
	<title th:text="#{attendanceManagementScreen}"></title>
</head>
<body>
	<div layout:fragment="content">
		<div class="header border-bottom mt-2">
			<h1 class="h2" th:text="#{attendanceManagementScreen}"></h1>
		</div>
		<!-- 勤怠情報表示-->
		<div>
			<form method="post" th:action="@{/attendance/save/rest}" class="row g-3 mt-1" th:object="${attendanceForm}">
				<table id="result-table" class="table table-striped table-bordered table-hover table-sm">
					<thead class="thead-light">
						<tr>
							<th class="th-width"></th>
							<th class="th-width" th:text="#{date}"></th>
							<th class="th-width" th:text="#{weekDay}"></th>
							<th class="th-width" th:text="#{workingTypeId}"></th>
							<th class="th-width" th:text="#{startTime}"></th>
							<th class="th-width" th:text="#{endTime}"></th>
							<th class="th-width" th:text="#{restTime}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item, st: *{attendanceList}" th:classappend="${item.weekdayCd} == 1? table-danger: (${item.weekdayCd} == 7? table-info)">
							<!-- チェックボックス -->
							<td>
								<input type="checkbox" th:field="*{attendanceList[__${st.index}__].isChecked}"/>
							</td>
							<!-- 日付 -->
							<td th:text="${#dates.format(item.attendanceDate, 'd')} + 日"></td>
							<input type="hidden" class="date_hidden" th:field="*{attendanceList[__${st.index}__].attendanceDate}"/>
							<!-- 曜日 -->
							<td th:text= "${item.weekdayName}" th:field="*{attendanceList[__${st.index}__].weekdayName}"></td>
							<input type="hidden" th:field="*{attendanceList[__${st.index}__].weekdayName}"/>
							<input type="hidden" th:field="*{attendanceList[__${st.index}__].weekdayCd}"/>
							<!-- 勤務区分 -->
							<td>
								<select class="form-select" th:field="*{attendanceList[__${st.index}__].workingTypeId}"
									th:classappend="*{#fields.hasErrors('attendanceList[' + __${st.index}__ + '].workingTypeId')} ? 'is-invalid'">
									<option value=""></option>
									<option th:each="wt: ${workingTypeList}"
											th:value="${wt.workingTypeId}"
											th:text="${wt.workingTypeName}"
											th:selected="${wt.workingTypeId} == ${item.workingTypeId}">
									</option>
								</select>
								<div class="invalid-feedback" th:errors="*{attendanceList[__${st.index}__].workingTypeId}"></div>
							</td>
							<!-- 開始時刻 -->
							<td class="cs-form">
								<input type="time" class="form-control start_time" step="900"
									th:classappend="*{#fields.hasErrors('attendanceList[' + __${st.index}__ + '].startTime')} ? 'is-invalid'"
									th:value="${not #strings.isEmpty(item.startTime)} ? *{#strings.substring(attendanceList[__${st.index}__].startTime, 11, 16)}"
								/>
								<div class="invalid-feedback" th:errors="*{attendanceList[__${st.index}__].startTime}"></div>
							</td>
							<input type="hidden" class="start_time_hidden" th:field="*{attendanceList[__${st.index}__].startTime}"/>
							<!-- 終了時刻 -->
							<td class="cs-form">
								<input type="time" class="form-control end_time" step="900"
									th:classappend="*{#fields.hasErrors('attendanceList[' + __${st.index}__ + '].endTime')} ? 'is-invalid'"
									th:value="${not #strings.isEmpty(item.endTime)} ? *{#strings.substring(attendanceList[__${st.index}__].endTime, 11, 16)}"
								/>
								<div class="invalid-feedback" th:errors="*{attendanceList[__${st.index}__].endTime}"></div>
							</td>
							<input type="hidden" class="end_time_hidden" th:field="*{attendanceList[__${st.index}__].endTime}"/>
							<!-- 休憩時間　-->
							<td class="cs-form">
								<input type="time" class="form-control rest_time" th:field="*{attendanceList[__${st.index}__].restTime}"
									th:classappend="*{#fields.hasErrors('attendanceList[' + __${st.index}__ + '].restTime')} ? 'is-invalid'"
								/>
								<div class="invalid-feedback" th:errors="*{attendanceList[__${st.index}__].restTime}"></div>
							</td>
						</tr>
					</tbody>
				</table>
				<div>
					<input id="btn-save" type="submit" class="btn btn-primary mt-3 mb-5" th:value="#{btn.save}"/>
				</div>
				<input type="hidden" th:field="*{attendanceYm}"/>
			</form>
		</div>
	</div>
</body>
</html>
